<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners index page</title>
</head>
<body>
<!--/@thymesVar id="owner" type="fallak.petveterinaryclinic.model.Owner"*/-->
<h2 th:text="'List of Owners'">Owners list page !!!</h2>

<table id="owners" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">Fisrt Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="owner:${owners}">
            <td th:text ="${owner.id}">id</td>
            <td th:text ="${owner.firstName}">first name</td>
            <td th:text ="${owner.lastName}">last name</td>
    </tr>
    </tbody>
</table>

</body>
</html>